@model TaskModel


<h2>New Task</h2>
<form asp-controller="Home" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Category"></label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Date"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <p class="mt-3">
            <input type="submit" class="btn btn-primary" value="Create" />
        </p>
    </fieldset>
</form>
